
fieldset {
	margin-bottom: 20px;
}
legend {
	font-size: 18px;
	margin: 0;
}
input {
	margin: 2px;
	font-size: :;px;
}

input[type=file] {
	display: inline;
}


.add {
	border-radius: 1em;
	padding: 3px;
	width: 25%;
	margin: 2px;
}

.thumb {
	width: 24px;
	height: 24px;
	float: none;
	position: relative;
	top: 7px;
}

form .progress {
	line-height: 15px;
}

.progress {
	display: inline-block;
	width: 100px;
	border: 3px groove #CCC;
}
.progress div {
	font-size: smaller;
	background: orange;
	width: 0;
}